{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="about">
			<h2>About</h2>
			<br>
			<h4>Primary-map.com is an interactive primary election map for the
				Democratic Party 2020 primary elections.</h4>
		   	<br>
			<h4>How to use:</h4>
			<ol type="1">
				<li>Choose a Candidate
					<ul>
						<li>'Custom' is the default choice. It allows you to click a
							state and set custom results first and foremost.</li>
						<li>Selecting a candidate allows you to click a state and
							conveniently set your candidate in the lead.</li>
					</ul>
				</li>
				<li>Experiment with State Results
					<ul>
						<li>Manage and experiment with a state's popular vote results
							in percentages.</li>
						<li>Unallocated and available percentage points are displayed.
							Remove points from candidates to give yourself a basket of
							points to use.</li>
					</ul>
				</li>
				<li>Count the Delegates
					<ul>
						<li>Click 'Count Delegates' to get the current pledged delegate
							count among the states with established results (colored).</li>
						<li>The donut chart represents the proportion of the colored states

						</li>
					</ul>
				</li>
			</ol>



			<p>State Primary/Caucus Election Dates and Information</p>
			<p>Credits</p>
			<p>Creator, Email, and Copyright</p>
		</div>
	</div>
</div>
{% endblock %}
