{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-18 col-sm-12 col-md-12">
			<div class="about">
				<h2>About</h2>
				<hr>

				<!-- Summary/Objective -->
				<h4 class="summary">Primary Draft simulates the Democratic Party 2020 primary
					elections for experimenting with state results and allocating delegates among
				 	presidential candidates on an interactive United States map.</h4>
			   	<hr>

				<!-- How to use instructions for user -->
				<h4 class="title"><strong>How to use:</strong></h4>
				<ol type="1">
					<li><strong>Choose a Candidate or Custom Mode</strong>
						<ul>
							<li>'Custom' is the default mode. It allows you to click a
								state and set customized results first and foremost.</li>
							<li>Selecting a candidate allows you to click a state and
								conveniently set your candidate in the lead.</li>
						</ul>
					</li>
					<li><strong>Select a State and Experiment with Results</strong>
						<ul>
							<li>Experiment with a state's statewide results by managing
								percentage points representing the popular vote.</li>
							<li>Unallocated and available percentage points are always
								displayed. Remove points from candidates to give yourself
								a basket of points to use.</li>
							<li>Make use of the 'Custom' mode when diving deep into numerous
								state results. It helps avoid mistakenly overriding already
								modified states with a 'Candidate' click.</li>
						</ul>
					</li>
					<li><strong>Count the Delegates</strong>
						<ul>
							<li>Click 'Count Delegates' to calculate and display the share of
								delegates candidates have recieved exclusively from already customized
								state results (dyed states).</li>
							<li>Hovering over a slice of the donut chart reveals a candidate's overall
								percentage of pledged delegates nationwide as well as their current
								delegate count.</li>
						</ul>
					</li>
				</ol>
				<hr>

				<!-- Notes on the electoral system and the app's implementation -->
				<h4 class="title"><strong>Democratic Primary/Caucus System Short Notes</strong></h4>
				<ul>
					<li>A candidate needs a majority of pledged delegates going into the DNC
						to clinch the nomination on the first round.</li>
					<li>PrimaryDraft.com counts pledged delegates. Pledged delegates are bound
						to presidential contenders based on state results going into the DNC.
						Unpledged delegates (superdelegates) are not bound to any candidate and
						are only allocated at the DNC in the event of a contested convention.</li>
					<li>Pledged delegates at all levels are proportionally allocated using the
						same delegate allocation algorithm.</li>
					<li>A 15% result threshold is required to recieve delegates at either
						the congressional or statewide level. While a varying portion of numerous
						states' delegates are pledged based on congressional district or caucus
						precinct results, PrimaryDraft.com calculates all delegates based on
						statewide results.</li>
					<li>Currently, PrimaryDraft.com provides options for the 50 US states with plans
						to add DC, Puerto Rico, the US territories, and Democrats abroad in the
						near future.</li>
				</ul>
				<hr>

				<!-- Credits/Sources/Thanks -->
				<h4 class="title"><strong>Credits</strong></h4>
				<p>Election information sourced from <a href="https://www.TheGreenPapers.com">TheGreenPapers.com</a></p>
				<hr>

				<strong>Note:</strong> This is a work in progress. More features to come!
			</div>
		</div>
	</div>
</div>
<br>
<br>

<!-- Footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-9 col-sm-8">
				<h4 class="title-footer">Contact</h4>
				<h5>PadillaOscarA@gmail.com • Questions, comments, & feedback are welcome!</h5>
			</div>
			<div class="col-xs-3 col-sm-4">
				<h4 class="title-footer">Share</h4>
				<!-- <a href="#" class="social"><i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i></a> -->
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
					data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

				<!-- <div class="fb-share-button" data-href="https://www.PrimaryDraft.com" data-layout="button_count" data-size="small">
					<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.PrimaryDraft.com%2F&amp;src=sdkpreparse"
					class="fb-xfbml-parse-ignore">Share</a></div> -->
			</div>
		</div>

		<hr class="hr-footer">

		<div class="row text-center"><a href="https://www.PrimaryDraft.com">Primary Draft</a> Copyright © 2019 Oscar Padilla</div>
	</div>
</footer>
{% endblock %}
