{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="about">
			<h2>About</h2>

			<br>

			<h4>Simulate the Democratic Party 2020 primary elections here on Primary-Map.com
				by experimenting with states' results and allocating delegates to any of the
				many presidential candidates on an interactive United States map.</h4>

		   	<br>

			<h4>How to use:</h4>
			<ol type="1">
				<li><strong>Choose a Candidate or Custom Mode</strong>
					<ul>
						<li>'Custom' is the default choice. It allows you to click a
							state and set customized results first and foremost.</li>
						<li>Selecting a candidate allows you to click a state and
							conveniently set your candidate in the lead.</li>
					</ul>
				</li>
				<li><strong>Experiment with State Results</strong>
					<ul>
						<li>Manage and experiment with a state's statewide results
							through percentage points.</li>
						<li>Unallocated and available percentage points are always
							displayed. Remove points from candidates to give yourself
							a basket of points to use.</li>
						<li>Make use of the 'Custom' mode when diving deep into numerous
							state results. It helps avoid mistakenly overriding already
							modified states with a 'Candidate' click.</li>
					</ul>
				</li>
				<li><strong>Count the Delegates</strong>
					<ul>
						<li>Click 'Count Delegates' to calculate and show the share of delegates
							candidates have recieved solely from the already customized state results
							(dyed states) on a donut chart.</li>
						<li>Hovering over a slice reveals a candidate's overall nationwide percentage of all
							possible pledged delegates as well as their current delegate count.</li>
					</ul>
				</li>
			</ol>

			<br>

			<h4>Democaritc Primary/Caucus System Short Notes</h4>
			<ul>
				<li>A candidate needs a majority of pledged delegates going into the DNC
					to clinch the nomination on the first round.</li>
				<li>Primary-Map.com counts pledged delegates. Pledged delegates are bound
					to presidential contenders based on state results going into the DNC.
					Unpledged delegates (superdelegates) are not bound to any candidate and
					are only allocated at the DNC in the event of a contested convention.</li>
				<li>Pledged delegates at all levels are proportionally allocated using the
					same delegate allocation algorithm.</li>
				<li>A 15% result threshold is required to recieve delegates at either
					the congressional or statewide level. While a varying portion of numerous
					states' delegates are pledged based on congressional district or caucus
					precinct results, Primary-Map.com calculates all delegates based on
					statewide results.</li>
				<li>Currently, Primary-Map.com only provides options for the 50 US states but there
					are plans to add DC, Puerto Rico, the US territories, and Democrats abroad in the
					near future.</li>
			</ul>



			<br>

			<h4>Credits</h4>
			<p>Election information sourced from TheGreenPapers.com</p>

			<br>

			<h4>Contact</h4>
			<p>Questions, comments, and reports can be directed to <strong>info@site.com</strong></p>

			<br>

			<p>Copyright ©2019 primary-map.com All Rights Reserved</p>
		</div>
	</div>
</div>
{% endblock %}
