<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Primary Election Map</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
        <script src="{{ url_for('static', filename='js/lib/jquery-3.4.0.min.js') }}"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://d3js.org/topojson.v2.min.js"></script>
    </head>
    <body>
        {% extends "bootstrap/base.html" %}
        {% block navbar %}
            <!-- Navigation Bar -->
            <nav class="navbar navbar-custom navbar-static-top">
                <div class="container">
                    <!-- Brand and toggle -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Interactive Primary Election</a>
                    </div>
                    <!-- Nav links -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('home') }}">Map</a></li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
