{% extends "base.html" %}
{% block content %}
<h4>Democratic Party Presidential Primary 2020</h4>
<div class="candidates">
	<div class="btn-group" role="group" aria-label="..." data-toggle="buttons">
		{% for candidate in candidates %}
		<label class="btn btn-primary" role="group">
			<input type="radio" name="candidate"> {{ candidate }}
		</label>
		{% endfor %}
	</div>
</div>

<div class="map">

</div>

<div class="pie-chart">
	<canvas id="chart" width="600" height="400"></canvas>
	<script>
	   	var pieData = [
            {% for value,candidate,color in set %}
            {
                value: {{ value }},
                candidate: "{{ candidate }}",
                color : "{{ color }}",
				label: "{{ candidate }}",
            },
            {% endfor %}
		];
	   	// get bar chart canvas<br />
	   	var mychart = document.getElementById("chart").getContext("2d");
	   	steps = 10
	   	max = 10
	   	// draw pie chart<br />
	   	new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);
	</script>
</div>

<div class="select-state">

</div>
{% endblock %}
