{% extends "base.html" %}
{% block content %}
<h2>Democratic Party Presidential Primary 2020</h2>
<!-- Candidate Selection Buttons -->
<div class="candidates">
	<div class="btn-group" role="group" aria-label="..." data-toggle="buttons">
		<label class="btn btn-default" role="group">
			<input type="radio" name="candidate" value="Custom" checked>Custom
		</label>
		{% for candidate, default_value in candidates %}
		<label class="btn btn-default" role="group">
			<input type="radio" name="candidate" value="{{ candidate }}">{{ candidate }}
		</label>
		{% endfor %}
	</div>
	<button type="button" class="btn btn-danger" onclick="resetMap()">Reset</button>
</div>

<!-- United States Map -->
<div class="map">
	<svg width="960" height="600"></svg>
	<script src="{{ url_for('static', filename='js/map.js')}}" type="text/javascript"></script>
</div>

<!-- State Results Configuration Options-->
<!-- add APPLY button and logic -->
<div class="state-options">
	<div class="btn-group-vertical" role="group" aria-label="...">
		{% for candidate, default_value in candidates %}
		<div class="row">
		  	<div class="col-sm-6">
		    	<div class="input-group">
		      		<span class="input-group-addon">
		        		<input type="checkbox" aria-label="..." checked>
		      		</span>
					<span class="input-group-addon" id="addon-cand">{{ candidate }}</span>
					<input type="number" class="form-control" aria-label="..." min="0" oninput="validity.valid||(value='');" step=0.1 value="{{ default_value }}">
					<span class="input-group-addon" id="addon-perc">%</span>
					<span class="input-group-addon" id="addon-deleg">_ Delegates</span>
				</div>
		  	</div>
		</div>
		{% endfor %}
	</div>
</div>

<!-- Total Delegate Count Pie Chart -->
<div class="pie">
	<div class="pie-chart"></div>
	<script src="{{ url_for('static', filename='js/pie.js')}}" type="text/javascript"></script>
</div>
{% endblock %}
